@mixin fontface($font_name, $file_name, $weight: normal, $style: normal) {
	@font-face {
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-family: "#{$font_name}";
		font-weight: $weight;
		font-style: $style;
	}
}
