ul.contact__social.social
    li.social__item
        a.social__link(href="#"): +svg('icon-fb').social__icon
    li.social__item
        a.social__link(href="#"): +svg('icon-telegram--circle').social__icon
    li.social__item
        a.social__link(href="#"): +svg('icon-instagram').social__icon
