.container-fluid.studyFront-bg
	.container
		.row
			.col-12
				h2.studyFront__title Ինչո՞ւ Սովերել Front End
		.row.studyFront__row
			.col-xl-3.col-md-6.col-12
				.box.studyFront
					+svg('icon-must').studyFront__icon
					span.studyFront__title Must have
					p.studyFront__text Անցկացնում ենք զրույցներ, յուրացնում ենք նյութը, այն վերարտադրում մեր բառերով։
			.col-xl-3.col-lg-6.col-12
				.box.studyFront
					+svg('icon-money').box__icon.studyFront__icon
					span.box__title.studyFront__title ~$1000
					p.box__text.studyFront__text Հարստացնում ենք բառապաշարը, սովորում ենք քերականություն, դիտարկում ե
			.col-xl-3.col-md-6.col-12
				.box.studyFront
					+svg('icon-planetrocket').box__icon.studyFront__icon
					span.box__title.studyFront__title Փոխներգործուն
					p.box__text.studyFront__text Տարբեր օրինակների օգնությամբ զարգացնում ենք հմտությունները կապված	
			.col-xl-3.col-md-6.col-12
				.box.studyFront
					+svg('icon-digital').box__icon.studyFront__icon
					span.box__title.studyFront__title Պրակտիկա
					p.box__text.studyFront__text Անցած նյութի ամրապնդման համար, ամեն պարապմունքի 