extends template/base

block headerScripts
	script(src='https://api-maps.yandex.ru/2.1/?apikey=32c8b677-71ff-4be6-8a36-6c7f2147d882&lang=ru_RU')

block vars
	- var headerList = [{icon: 'course', text: 'Դասընթաց Սկսնակների համար'}, {icon: 'clock', text: 'Հուլիսի 6,2020թ․'}]
	- var headrListDuration = [{icon: 'contract', text: '3 Ամիս'}, {icon: 'personalProject', text: 'Անձնական աշխատանք'}, {icon: 'gift', text: 'Նվերներ'}]
	- var lessonsForList = [{icon: 'icon-contract , lessonsFor__icons', text: 'Դուք կարող եք ծանոթանալ մեր ակադեմիայի հետ'}, {icon: 'icon-sertificate', text: ' ինչպես են ընթանում դասերը և ինչպես են '}, {icon: 'icon-garanty', text: 'Առաջին դասին մասնակցեք անվճար, մենք վստահ ենք, '}]

block content
	include section/header/header
	include section/lessonsFor/lessonsFor
	include section/studyfront/studyFront
	include section/now/now
	include section/footer/footer

