ul.header__description.list
	li.list__description Չունեք ժամանակ անգլերենի համար։
	li.list__description Դիմել եք մասնագետի, բայց արդյունքը զրո է։
	li.list__description Անգլերենը պետք է աշխատանքի համար։