include mixins
doctype html
html(lang='ru')
	head
		title Front End CodeTime Template
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
		meta(name='description', content='CodeTime Front End start template')
		meta(name='keywords', content='codetime, pug, scss, sass, bem, gulp, front-end, frontend')
		meta(name='subject', content='Front End Programming')
		meta(name='copyright', content='CodeTime.am')
		meta(name='language', content='US')
		meta(name='robots', content='index,follow')
		meta(name='abstract', content='CodeTime web-development & web-teaching company')
		meta(name='topic', content='Front End Programming')
		meta(name='summary', content='Programming and Teaching')
		meta(name='Classification', content='Business')
		meta(name='author', content='Kantaria Mikheili, info@codetime.am, Aleksandr Babayan, babayanaleksandr80@gmail.com')
		meta(name='designer', content='Kantaria Mikheili')
		meta(name='reply-to', content='info@codetime.am')
		meta(name='owner', content='Kantaria Mikheili, info@codetime.am')
		meta(name='url', content='https://codetime.am')
		meta(name='identifier-URL', content='https://codetime.am')
		meta(name='directory', content='submission')
		meta(name='pagename', content='Front End start template by CodeTime')
		meta(name='category', content='programming')
		meta(name='coverage', content='Worldwide')
		meta(name='distribution', content='Global')
		meta(name='rating', content='General')
		meta(name='revisit-after', content='7 days')
		meta(name='subtitle', content='Keep Calm and Code Your Life')
		meta(name='target', content='all')
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='DC.title', content='Keep Calm and Code Your Life')
		meta(name='ResourceLoaderDynamicStyles', content='')
		meta(name='syndication-source', content='https://codetime.am')
		meta(name='original-source', content='https://codetime.am')
		//- Favicon
		link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon/favicon-16x16.png')
		link(rel='icon', type='image/png', sizes='32x32', href='./img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='48x48', href='./img/favicon/favicon-48x48.png')
		link(rel='manifest', href='./img/favicon/manifest.json')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='theme-color', content='#fff')
		meta(name='application-name', content='CodeTime')
		link(rel='apple-touch-icon', sizes='57x57', href='./img/favicon/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='./img/favicon/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='./img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='./img/favicon/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='./img/favicon/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='./img/favicon/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='./img/favicon/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='./img/favicon/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='167x167', href='./img/favicon/apple-touch-icon-167x167.png')
		link(rel='apple-touch-icon', sizes='180x180', href='./img/favicon/apple-touch-icon-180x180.png')
		link(rel='apple-touch-icon', sizes='1024x1024', href='./img/favicon/apple-touch-icon-1024x1024.png')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='apple-mobile-web-app-title', content='CodeTime')
		link(rel='icon', type='image/png', sizes='228x228', href='./img/favicon/coast-228x228.png')
		meta(name='msapplication-TileColor', content='#fff')
		meta(name='msapplication-TileImage', content='./img/favicon/mstile-144x144.png')
		meta(name='msapplication-config', content='./img/favicon/browserconfig.xml')
		link(rel='yandex-tableau-widget', href='./img/favicon/yandex-browser-manifest.json')
		//- Facebook meta
		meta(property='og:type', content='website')
		meta(property='og:url', content='https://codetime.am')
		meta(property='og:title', content='CodeTime - Keep Calm and Code Your Life')
		meta(property='og:image', content='https://codetime.am/logo.png')
		meta(property='og:description', content='CodeTime web-development & web-teaching company')
		meta(property='og:site_name', content='CodeTime')
		meta(property='og:locale', content='hy')
		meta(property='og:image:width', content='250')
		meta(property='og:image:height', content='250')
		block style
			link(rel='stylesheet' href='css/style.min.css')
		block vars
		block headerScripts
	body
		block content

		block scripts
			script(src='//code.jquery.com/jquery-3.5.1.min.js')
			script(src='js/script.js')
