.container-fluid.footer
	.container
		h2.footer__title Как нас найти?
		.row.footer__row
			.col-xl-5.col-lg-6.col-md-6.col-12
				.footer__contact
					include ../contact/contact
					include ../social/social
			.col-xl-6.offset-xl-1.col-lg-6.offset-lg-0.col-md-6.offset-md-0.offset-sm-0.offset-0.col-12
				include ../map/map
		include ../copyright/copyright

