.container
	h2.title.
		Что вам нужно знать о CodeTime
	.row
		each val, index in ['Реальная компания, работающая с реальными проектами в Армении и за рубежом', 'Сильная команда, работающая на результат', 'Человеческий «теплый» подход к обучению', 'Вас обучают только харизматичные эксперты-практики', 'Обучение на реальной практике с реальными проектами', 'Наша цель — ваш финансовый результат в процессе обучения']
			.col-md-4
				.now
					p.now__description= val
					span.now__count=  "0" + (index + 1)

