// Fonts
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-overpass: 'Overpass', sans-serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;
$color-robins-egg-blue: #0AD1BD;
// Typography
$font-weight-regular: 400;
$font-weight-bold: 700;
