// Fonts

// Colors
$color-white: #fff;
$color-black: #000;

// Typography

// Fonts
$font-family-mardoto: "Mardoto", sans-serif;
$font-family-montserrat: "Montserrat-Bold", sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-curiousBlue: #288dd5;
$color-blueZodiac: #10233e;
$color-lynch: #60738e;
$color-purpleheart: #7427e6;
$color-electricviolet: #924cf9;
$color-selago: #e9e9fd;
$color-doveGray: #707070;
$color-robinsEggBlue: #0ec1cc;
$color-casal: #27576d;