@import "./variables";
// @import "./functions";
// @import "./mixins";
// @import "./fonts";
// @import "./vendor";
// @import "./base";
* {

	border-width: 20px 0 20px 90px;
	border-style: solid;
	border-color: transparent transparent transparent $color-white;
}